<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class='navbar-brand' href='/'>
                    <img id="logo-main" src="static/images/linkedin_banner_image_1.png" width="50px" height="50px">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <div class='pull-right'>
                <a href='/clothing/new' class='btn btn-default navbar-btn'>Upload an Item!</a>
            </div>
        </div>
    </nav>

