<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class='navbar-brand' href='/'>
                    <img id="logo-main" src="static/images/linkedin_banner_image_1.png" width="100px" height="100px">
                </a>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">|TOPS|</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">|BOTTOMS|</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">|OUTERWEAR|</a>
                    </div>
                </li>
            </ul>
            <div class='pull-right'>
                <a href='/clothing/new' class='btn btn-default navbar-btn'>Upload an Item!</a>
            </div>
        </div>
    </nav>

