#logo {
	vertical-align:middle;
}
.navbar-brand span {
	font-size:2rem;
	line-height:1.2;
	font-weight: 200;
	display:inline-block;
	vertical-align:middle;
    padding:0 0 0 15px;
    text-align: center;
}
.navbar-brand b {
	display:block;
	font-size:50%;
	line-height:1;
}
.navbar-nav {
	margin-left:auto;
}


    .row {
        display: flex;
        flex-wrap: wrap;
        }

    .jumbotron {
        background-image: url("static/images/main-qimg-a064985ccebbca29d9c6ecef8e7260eb.jpeg");
        background-size: cover;
        }