#logo {
	vertical-align:middle;
}
.navbar-brand span {
	font-size:2rem;
	line-height:1.2;
	font-weight: 200;
	display:inline-block;
	vertical-align:middle;
    padding:0 0 0 15px;
    text-align: center;
}
.navbar-brand b {
	display:block;
	font-size:50%;
	line-height:1;
}
.navbar-nav {
	margin-left:auto;
}

.jumbotron {
    position: relative;
    background: rgba(0, 0, 0, 0.3); 
    padding-top:200px;  
    padding-bottom:200px;
    }

.jumbotron:after {
    position: absolute;
    background-image: url(swdb-jumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }