<!-- templates/clothing_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/clothing'>
    <a href="/">Back to home!</a>
    <fieldset>
    
    <legend>New Piece!</legend>
    <!-- Name -->
    <p>
        <label for='name'>Name</label><br>
        <input type='text' name='name' />
    </p>
    <!--Brand-->
    <p>
        <label for='brand'>Brand</label><br>
        <input type='text' name='brand' />
    </p>
    </fieldset>

    <!--Image-->
    <p>
        <label for='url'>Image URL</label>
        <input type='url' name='image' />
    </p>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Piece!</button>
    </p>
</form>
{% endblock %}