<!-- templates/clothing_index.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h1>Welcome to SWDB!</h1>
        <h4>The Best Streetwear Database!</h4>
    </div>





    {% for item in clothing_db %}
    <div class="col-md-3">
        <div class="mh-100" style="height: 500px;">
            <div class="card border-dark" style="width: 18rem;">
                <img src="{{item.image}}" class="card-img-top" width="200" height="200">
                <div class="card-body text-center">
                    <h5 class="card-text">{{ item.name }}</h5>
                    <h5 class="card-text">{{ item.brand }}</h5>
                    <a href="/clothing/{{ item._id }}" class="card-link">View This Item!</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} 
{% endblock %}