<!-- templates/clothing_index.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h1>Welcome to SWDB!</h1>
        <h4>The Best Streetwear Database!</h4>
    </div>


    <div class="d-flex flex-row bd-highlight mb-3">
        {% for item in clothing_db %}
        <div class="p-2 bd-highlight">
            <div class="col-md-3">
                <div class="mh-100" style="height: 500px;">
                    <div class="card border-success text-center" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <img src='{{item.image}}' width="200" height="200">
                            </div>
                            <h2 class="card-title">{{ item.name }}</h2>
                            <h5 class="card-text">{{ item.brand }}</h5>
                            <div>
                                <a href="/clothing/{{ item._id }}" class="btn btn-primary">View this item!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}