<!-- templates/item_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Feed!</a>

    <div class="card mb-3 mt-5" style="max-width: 500px;">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card container text-center" style="width: 50rem;">
                    <img src="{{item.image}}" class="card-img-top" width="500px" height="500px">
                    <div class="card-body">
                        <h1 class="card-title">{{ item.name }}</h1>
                        <h2 class="card-text">{{ item.brand }}</h2>
                        <p><a href='/clothing/{{ item._id }}/edit'>Edit This Post!</a></p>
                        <p><form method='POST' action='/clothing/{{ item._id }}/delete'>
                            <button type='submit'>Delete This Post!</button>
                        </form></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Item</li>
        </ol>
    </nav>
{% endblock %}